<!doctype html>
{% extends 'CodeDaisApp/base.html' %}
{% load static %}
{% block body_block %}

<div style="background-color:azure">
    <div style="padding-left: 650px;padding-top: 90px; padding-bottom: 160px;border-radius: 30px;">
        <div class="card" style="width: 40rem; height: 36rem; border-radius: 20px;">
            <div >
                <div class="card-header" style="background-color: rgb(7, 7, 7); border-top-left-radius: 20px; border-top-right-radius: 20px;">
                    <div class="container text-center">
                        <div class="row">
                          <div class="col-2"><img src="{% static 'images/head.png' %}" class="card-img-top" alt="..." style="width: 110px;"></div>
                          <div class="col-10" style="color: white; font-size: 40px; padding-left: 30px;padding-top: 20px;"><b>Register Here</b></div>
                        </div>
                      </div>
                   
                </div>
            </div>
            <div >
                <div class="card-body" style="background-color: rgb(57, 55, 55); color: white;border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                    <table>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-warning btn-sm mt-1">Signup</button></td>
                            </tr>
                        </table>
                            
                        </form>
                </div>
            </div>
          
          </div>

        
       
    </div>
</div>

{% endblock %}